@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root{
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

body{
  font-family: "Inter";
  font-size: 14px;
  background-color: var(--Grey-900);
  color: var(--White);
}

main{
  background-color: var(--Grey-800);
  display: flex;
  flex-direction: column;
  max-width: 400px;
  margin: 40px auto;
  border-radius: 12px;
}

.hero{
  display: flex;
  flex-direction: column;
  align-items: center;

  & img{
    margin-top: 16px;
    width: 160px;
    border-radius: 50%;  
  }

  & h1{
    margin-bottom: 8px;
  }

  & span{
    color: var(--Green);
    font-weight: 700;
    font-size: 1.5em;
  }

}