@font-face {
  font-family: "Inter";
  src: url("/assets/fonts/Inter-VariableFont_slnt\,wght.ttf");
}

:root{
  --Green: hsl(75, 94%, 57%);
  --White: hsl(0, 0%, 100%);
  --Grey-700: hsl(0, 0%, 20%);
  --Grey-800: hsl(0, 0%, 12%);
  --Grey-900: hsl(0, 0%, 8%);
}

body{
  font-family: "Inter";
  font-size: 14px;
}